
<div ng-controller = "VerifyLandingController">

  <div class = "row" ng-show>
    <h1 class = "text-center">Please have your ____ forms ready before you verify.</h1>
    <div class = "col-md-4 col-md-offset-4 text-center">
      <p>In this verification process, you will need to submit certain information in order to ensure that you qualify for the prices that you are receiving.</p>
      <p>Your information will be reviewed, and you will automatically be sent an email once you have been verified and your order has been placed.</p>
      <p>Please note that this will NOT save your work, so ensure that you are able to complete the process in one sitting.</p>
      <p>Once you're ready to begin, click the button below to start.</p>
      <div>
        <a ui-sref="wholesale.verify">
          <button id="add_item_button" class="btn btn-blue"> <!--will work upon integration-->
            Begin Verification
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
