<section ng-controller="CarouselEditController">
    <div class="page-header">
        <h1>Edit Slides</h1>
    </div>
    <div class="row" ng-repeat="slide in slides">
        <div class="col-md-4">
            <img class="img-responsive" src="{{slide.imglink}}">
        </div>
        <div class="col-md-8" ng-hide="slide === editslide">
            <h4 class="text-center col-md-12">Slide #{{slide._id | limitTo:-5}}</h4>
            <div class="row">
                <div class="col-xs-4"><p>Image Url:</p></div>
                <div class="col-xs-8"><p>{{slide.imglink}}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-4"><p>Link Url:</p></div>
                <div class="col-xs-8"><p>{{slide.linktext || 'NULL'}}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-4"><p>Content:</p></div>
                <div class="col-xs-8"><p>{{slide.content}}</p></div>
            </div>
        </div>
        <div class="col-md-8" ng-show="slide === editslide">
            <form name="carouselForm" class="form-horizontal" ng-submit="update(slide)">

            </form>
        </div>
    </div>

    <div class="page-header">
        <h3>New Slide</h3>
    </div>
    <div class="col-md-12">
        <form name="newSlide" class="form-horizontal" ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label>Image Url</label>
                    <input name="imglink" type="text" ng-model="imglink" class="form-control" placeholder="https://google.com/image.jpg" required>
                </div>
                <div class="form-group">
                    <label>Link Url</label>
                    <input name="linktext" type="text" ng-model="linktext" class="form-control" placeholder="/path/to/link">
                </div>
                <div class="form-group">
                    <label>Text Field</label>
                    <textarea name="content" ng-model="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>
