<section class="row text-center contact-info" ng-controller="ContactController">
    <!--<div class="col-md-2 col-xs-6 vcenter">-->
        <!--<a class="marg-auto" href="{{socialmedia.linkedin}}"><i class="fa fa-linkedin-square fa-4x"></i></a>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-xs-6 vcenter">-->
        <!--<a class="marg-auto" href="{{socialmedia.facebook}}"><i class="fa fa-facebook-square fa-4x"></i></a>-->
    <!--</div>-->
    <div class = "col-md-4"></div>
    <div class="col-md-4 center">
        <p class="marg-auto">{{contactName}}<br>{{address}}<br>{{citystatezip}}<br>Phone: {{phone}}<br>Fax: {{fax}}</p>
    </div>
    <!--<div class="col-md-2 col-xs-6 vcenter">-->
        <!--<a class="marg-auto" href="{{socialmedia.twitter}}"><i class="fa fa-twitter-square fa-4x"></i></a>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-xs-6 vcenter">-->
        <!--<a class="marg-auto" href="{{socialmedia.googleplus}}"><i class="fa fa-google-plus-square fa-4x"></i></a>-->
    <!--</div>-->
</section>
