<section class="row text-center contact-info" ng-controller="ContactController">
    <div class="col-md-2 col-xs-6 vcenter">
        <a class="marg-auto" href=""><i class="fa fa-linkedin-square fa-4x"></i></a>
    </div>
    <div class="col-md-2 col-xs-6 vcenter">
        <a class="marg-auto" href=""><i class="fa fa-facebook-square fa-4x"></i></a>
    </div>
    <div class="col-md-4 col-xs-12 vcenter">
        <p class="marg-auto">Terra Tactus<br>1 Address Street<br>Gainesville, Fla. 32603<br>phone: (123)456-7890<br>fax: (123)456-7891</p>
    </div>
    <div class="col-md-2 col-xs-6 vcenter">
        <a class="marg-auto" href=""><i class="fa fa-twitter-square fa-4x"></i></a>
    </div>
    <div class="col-md-2 col-xs-6 vcenter">
        <a class="marg-auto" href=""><i class="fa fa-google-plus-square fa-4x"></i></a>
    </div>
</section>
