<section ng-controller="HomeController">
    <section id="home-section" class="row">
        <div class="col-md-9">
            <!-- carousel setup -->
            <div ng-controller="CarouselHomeController">
              <div>
                <carousel interval="myInterval" no-wrap="noWrapSlides">
                  <slide class="home-slide" ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}">
                    <div class="carousel-caption" style="background-color: rgba(0,0,0,0.5); border-radius: 10px;">
                      <h4>{{slide.text}}</h4>
                      <p><a class="btn btn-primary btn-lg" href="{{slide.link}}" role="button">Learn more</a></p>
                    </div>
                  </slide>
                </carousel>
              </div>
            </div>
            <!-- end carousel -->

            <div id="about" class="row">
                <div class="col-md-8">
                    <h3>About Us</h3><hr>
                    <p>{{aboutUsText}}</p>
                    <h4 class="text-center"><a href="#product-section"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></h4>
                </div>

                <div class="col-md-4 vcenter" style="height: 37vh;">
                    <img id="about-image" src="{{aboutUsImage}}" alt="Oops.">
                </div>
            </div>
        </div>
        <div class="col-md-3 announcement-pane" style="overflow: auto;">
          <section ng-controller="AnnouncementsController" ng-init="find()">
              <div class="page-header">
                <h1>Announcements</h1>
              </div>
                  <div class="list-group">
                    <div ng-repeat="announcement in announcements" class="bg-color-main list-group-item">
                      <h4 class="list-group-item-heading" ng-bind="announcement.title"></h4>
                      <div>
                        <p class="list-group-item-text" ng-bind="announcement.content"></p>
                      </div>
                      <div>
                        <a href="{{announcement.link}}" ng-bind="announcement.link"></a>
                      </div>
                      <small class="list-group-item-text">
                        Posted on
                        <span ng-bind="announcement.created | date:'mediumDate'"></span>
                        by
                        <span ng-bind="announcement.username"></span>
                      </small>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section id="product-section">
        <div class="row">
            <div class="col-md-6 product-info" id="product-info-blue">
                <h3>Thinking About Subscribing?</h3>
                <div class="col-md-4">
                    <img class="img-responsive" src="{{subscribeImage}}" alt="Oops.">
                </div>
                <p>{{subscribeText}}</p>
                <p class="text-center"><a class="btn btn-primary btn-lg" href="/subscriptions" role="button">Learn more</a></p>
            </div>
            <div class="col-md-6 product-info" id="product-info-green">
                <h3>Or Maybe an Individual Product?</h3>
                <div class="col-md-4">
                    <img class="img-responsive" src="{{individualProdImage}}" alt="Oops.">
                </div>
                <p>{{individualProdText}}</p>
                <p class="text-center"><a class="btn btn-primary btn-lg" href="/products" role="button">Learn more</a></p>
            </div>
        </div>
    </section>
</section><!-- home controller -->
