<section ng-controller="HomepageEditController">
    <div class="page-header">
        <h1>Edit Homepage Data</h1>
    </div>
    <form name="homepageDataForm" class="form-horizontal col-md-12" ng-submit="homepageUpdate()" novalidate>
        <fieldset>
            <div class="form-group">
                <label>About Us Text</label>
                <textarea name="aboutUsText" ng-model="homepageData.aboutUsText" class="form-control" cols="30" rows="5" placeholder="Enter text here..." required></textarea>
            </div>
            <div class="form-group">
                <label>About Us Image Link</label>
                <input name="aboutUsImageLink" type="text" ng-model="homepageData.aboutUsImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group">
                <label>Subscribe Text</label>
                <textarea name="subscribeText" ng-model="homepageData.subscribeText" class="form-control" placeholder="Enter text here..." cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Subscribe Image Link</label>
                <input name="subscribeImage" type="text" ng-model="homepageData.subscribeImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group">
                <label>Individual Product Text</label>
                <textarea name="individualProdText" ng-model="homepageData.individualProdText" class="form-control" placeholder="Enter text here..." cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Individual Product Image Link</label>
                <input name="individualProdImage" type="text" ng-model="homepageData.individualProdImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group">
                <label>Commercial Text</label>
                <textarea name="commercialText" ng-model="homepageData.commercialText" class="form-control" placeholder="Enter text here..." cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Commercial Image Link</label>
                <input name="commercialImage" type="text" ng-model="homepageData.commercialImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group">
                <label>Retail Text</label>
                <textarea name="retailText" ng-model="homepageData.retailText" class="form-control" placeholder="Enter text here..." cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Retail Image Link</label>
                <input name="retailImage" type="text" ng-model="homepageData.retailImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-blue">
            </div>
        </fieldset>
    </form>

    <div class="page-header">
        <h1>Edit Contact Data</h1>
    </div>
    <form name="contactDataForm" class="form-horizontal col-md-12" ng-submit="contactUpdate()" novalidate>
        <fieldset>
            <div class="form-group">
                <label>Contact Name</label>
                <input name="contactName" type="text" ng-model="contactData.contactName" class="form-control" placeholder="Company, LLC." required>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input name="address" type="text" ng-model="contactData.address" class="form-control" placeholder="1 Address Road" required>
            </div>
            <div class="form-group">
                <label>City State and Zip code</label>
                <input name="citystatezip" type="text" ng-model="contactData.citystatezip" class="form-control" placeholder="City, XX. 00000" required>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input name="phone" type="text" ng-model="contactData.phone" class="form-control" placeholder="(XXX) XXX-XXXX" required>
            </div>
            <div class="form-group">
                <label>Fax</label>
                <input name="fax" type="text" ng-model="contactData.fax" class="form-control" placeholder="(XXX) XXX-XXXX" required>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-blue">
            </div>
        </fieldset>
    </form>

    <div class="page-header">
        <h1>Edit Social Media Links</h1>
    </div>
    <div ng-repeat="sm in socialmediaData">
        <div class="row" ng-hide="sm.isEditting">
            <div class="col-md-4 col-xs-12 text-center">{{sm.linkText}}</div>
            <div class="col-md-4 col-xs-12 text-center">{{sm.iconLink}}</div>
            <div class="col-md-4 col-xs-12 text-center"><div class="btn btn-primary" ng-click="toggleEditable(sm)">Edit</div></div>
        </div>
        <div class="col-md-12" ng-show="sm.isEditting">
            <form name="updatesocialmedia" class="form-horizontal" ng-submit="socialmediaUpdate(sm)" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label>Social Media Link</label>
                        <input name="linkText" type="text" ng-model="sm.linkText" class="form-control" placeholder="social media link" required>
                    </div>
                    <div class="form-group">
                        <label>Icon Name</label>
                        <input name="iconLink" type="text" ng-model="sm.iconLink" class="form-control" placeholder="icon name">
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 text-center"><input type="submit" class="btn btn-primary"></div>
                        <div class="col-xs-6 text-center"><div ng-click="socialmediaDelete(sm)" class="btn btn-warning">Remove</div></div>
                    </div>
                </fieldset>
            </form>
        </div>
        <hr>
    </div>
    <div class="page-header">
        <h1>Add social media</h1>
    </div>
    <div class="col-md-12">
        <form name="addsocialmedia" class="form-horizontal" ng-submit="socialmediaAdd()">
            <fieldset>
                <div class="form-group">
                    <label>Social Media Link</label>
                    <input name="linkText" type="text" ng-model="esm.linkText" class="form-control" placeholder="social media link" required>
                </div>
                <div class="form-group">
                    <label>Icon Name</label>
                    <input name="iconLink" type="text" ng-model="esm.iconLink" class="form-control" placeholder="icon name">
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-blue">
                </div>
            </fieldset>
        </form>
    </div>
</section>
