<section ng-controller="HomepageEditController">
    <div class="page-header">
        <h1>Edit Homepage Data</h1>
    </div>
    <form name="homepageDataForm" class="form-horizontal col-md-12" ng-submit="homepageUpdate()" novalidate>
        <fieldset>
            <div class="form-group">
                <label>About Us Text</label>
                <textarea name="aboutUsText" ng-model="homepageData.aboutUsText" class="form-control" cols="30" rows="5" placeholder="" required></textarea>
            </div>
            <div class="form-group">
                <label>About Us Image Link</label>
                <input name="aboutUsImageLink" type="text" ng-model="homepageData.aboutUsImage" class="form-control" placeholder="" required>
            </div>
            <div class="form-group">
                <label>Subscribe Text</label>
                <textarea name="subscribeText" ng-model="homepageData.subscribeText" class="form-control" placeholder="" cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Subscribe Image Link</label>
                <input name="subscribeImage" type="text" ng-model="homepageData.subscribeImage" class="form-control" placeholder="" required>
            </div>
            <div class="form-group">
                <label>Individual Product Text</label>
                <textarea name="individualProdText" ng-model="homepageData.individualProdText" class="form-control" placeholder="" cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Individual Product Image Link</label>
                <input name="individualProdImage" type="text" ng-model="homepageData.individualProdImage" class="form-control" placeholder="" required>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary">
            </div>
        </fieldset>
    </form>

    <div class="page-header">
        <h1>Edit Contact Data</h1>
    </div>
    <form name="contactDataForm" class="form-horizontal col-md-12" ng-submit="contactUpdate()" novalidate>
        <fieldset>
            <div class="form-group">
                <label>Contact Name</label>
                <input name="contactName" type="text" ng-model="contactData.contactName" class="form-control" placeholder="" required>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary">
            </div>
        </fieldset>
    </form>
</section>
