<section ng-controller="HomepageEditController">
    <div class="page-header">
        <h1>Edit Homepage Data</h1>
    </div>
    <form name="homepageDataForm" class="form-horizontal col-md-12" ng-submit="homepageUpdate()" novalidate>
        <fieldset>
            <div class="form-group">
                <label>About Us Text</label>
                <textarea name="aboutUsText" ng-model="homepageData.aboutUsText" class="form-control" cols="30" rows="5" placeholder="Enter text here..." required></textarea>
            </div>
            <div class="form-group">
                <label>About Us Image Link</label>
                <input name="aboutUsImageLink" type="text" ng-model="homepageData.aboutUsImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group">
                <label>Subscribe Text</label>
                <textarea name="subscribeText" ng-model="homepageData.subscribeText" class="form-control" placeholder="Enter text here..." cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Subscribe Image Link</label>
                <input name="subscribeImage" type="text" ng-model="homepageData.subscribeImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group">
                <label>Individual Product Text</label>
                <textarea name="individualProdText" ng-model="homepageData.individualProdText" class="form-control" placeholder="Enter text here..." cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Individual Product Image Link</label>
                <input name="individualProdImage" type="text" ng-model="homepageData.individualProdImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group">
                <label>Commercial Text</label>
                <textarea name="commercialText" ng-model="homepageData.commercialText" class="form-control" placeholder="Enter text here..." cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Commercial Image Link</label>
                <input name="commercialImage" type="text" ng-model="homepageData.commercialImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group">
                <label>Retail Text</label>
                <textarea name="retailText" ng-model="homepageData.retailText" class="form-control" placeholder="Enter text here..." cols="30" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label>Retail Image Link</label>
                <input name="retailImage" type="text" ng-model="homepageData.retailImage" class="form-control" placeholder="https://www.thisisalink.com/image.jpg" required>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary">
            </div>
        </fieldset>
    </form>

    <div class="page-header">
        <h1>Edit Contact Data</h1>
    </div>
    <form name="contactDataForm" class="form-horizontal col-md-12" ng-submit="contactUpdate()" novalidate>
        <fieldset>
            <div class="form-group">
                <label>Contact Name</label>
                <input name="contactName" type="text" ng-model="contactData.contactName" class="form-control" placeholder="Company, LLC." required>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input name="address" type="text" ng-model="contactData.address" class="form-control" placeholder="1 Address Road" required>
            </div>
            <div class="form-group">
                <label>City State and Zip code</label>
                <input name="citystatezip" type="text" ng-model="contactData.citystatezip" class="form-control" placeholder="City, XX. 00000" required>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input name="phone" type="text" ng-model="contactData.phone" class="form-control" placeholder="(XXX) XXX-XXXX" required>
            </div>
            <div class="form-group">
                <label>Fax</label>
                <input name="fax" type="text" ng-model="contactData.fax" class="form-control" placeholder="(XXX) XXX-XXXX" required>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary">
            </div>
        </fieldset>
    </form>

    <div class="page-header">
        <h1>Edit Social Media Links</h1>
    </div>
    <form name="socialmediaDataForm" class="form-horizontal col-md-12" ng-submit="socialmediaUpdate()" novalidate>
        <fieldset>
            <div class="form-group">
                <label>Facebook Link</label>
                <input name="facebooklink" type="text" ng-model="socialmediaData.facebook" class="form-control" placeholder="https://www.facebook.com" required>
            </div>
            <div class="form-group">
                <label>Twitter Link</label>
                <input name="twitterlink" type="text" ng-model="socialmediaData.twitter" class="form-control" placeholder="https://www.twitter.com" required>
            </div>
            <div class="form-group">
                <label>LinkedIn Link</label>
                <input name="linkedinlink" type="text" ng-model="socialmediaData.linkedin" class="form-control" placeholder="https://www.linkedin.com" required>
            </div>
            <div class="form-group">
                <label>Google Plus Link</label>
                <input name="googlepluslink" type="text" ng-model="socialmediaData.googleplus" class="form-control" placeholder="https://plus.google.com" required>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary">
            </div>
        </fieldset>
    </form>
</section>
