<!DOCTYPE html>
<div class="navbar secondary-nav" ng-controller="SecondaryHeaderController">
    <ul class="nav navbar-nav">
        <li role="presentation" ui-sref-active="active"><a ui-sref="home">Home</a></li>
    </ul>
    <ul class="nav navbar-nav" ng-hide="authentication.user.roles=='paidUser'">
        <li role="presentation" ui-sref-active="active"><a ui-sref="products">Products</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="subscriptions">Subscriptions</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="testimonials">Reviews</a></li>
    </ul>

    <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
            <input type="text" class="dark form-control" placeholder="Search..." name="searchValue">

            <div class="input-group-btn">

                <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>

        </div>
    </form>
</div>
