
#temp-div{
    background-color: gray;
    padding-bottom: 20px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    text-align: center;
}

#left {
    float: left;
    margin-right:10px;
}
#right{
    float: left;
    margin-left: 10px;
}
#black {
    background-color: #000000;
}

#full-width {
    background-size: 80px 60px;
    background-repeat: no-repeat;
}


#section-footer{
    background: #191f21;
    padding: 50px 0px;
}
#section-footer h4{
    color: #485153;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}
.jumbotron-hero {
    background-color: #f8f8f8;
    text-align: center;
}
.jumbotron {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 15 px;
    margin-bottom: 30px;
    color: #2e2f33;
}

.col-free {
    background-color: #eee;
    color: black;
}

.col-premium {
    background-color: #eee;
    color: black;
}
.col-premium .checked {
    color: limegreen;
}
.col-free .checked {
    color: limegreen;
}
.col-free li {
    color: red;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-offers .offers {
    background-color: #c8fff7;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.05);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.05);
    padding: 0 40px;
}
