#teacher-section {
    background-color: #2e2f33;
    padding: 2%;
    border-radius: 25px;
    color: #00DD00;

}
.center{
    text-align: center;
}
.wrapper{
    text-align: center;
}
.commercialInfo {
    background-color: #2e2f33;
    padding: 1%;
    border-radius: 25px;
    font-size: 125%;
}
#section-commercial{
    background: url(http://www.premiumtours.co.uk/images/product/original/59_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner-content{
    padding: 300px 0 300px 0;
}
