#teacher-section {
    background-color: #222222;
    padding: 2%;
    border-radius: 25px;
    color: #339933;

}
.center{
    text-align: center;
}
.wrapper{
    text-align: center;
}
.commercialInfo {
    background-color: #222222;
    padding: 1%;
    border-radius: 25px;
    font-size: 125%;
}
#section-commercial{
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner-content{
    padding: 300px 0 300px 0;
}
