.item-description {
  color: black;
}

.store-item {
    padding: 5px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    border: 4px solid #339933;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.store-item:hover {
    border-color: white;
    text-decoration: none;
}

.store-item:hover .store-item-image img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.store-item:hover .store-item-rating {
    animation-name: fadeInQuick;
    -webkit-animation-name: fadeInQuick;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible!important;
    display:block;
     opacity: 1;
     background:transparent;
}

.store-item-rating {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 10;
}

.text-warning,
.text-warning:hover,
a.text-warning,
a.text-warning:focus,
a.text-warning:hover {
    color: #e67e22;
}

.store-item-image {
    overflow: hidden;
}

.store-item-image img {
    -webkit-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}

.store-item-info {
    padding: 20px;
    background-color: #f9f9f9;
}

.themed-color-dark {
    color: #3366cc;
}

.store-item-price {
    font-weight: 700;
    font-size: 28px;
}

.text-primary, .text-primary:hover, a, a:focus, a:hover {
    color: #339933;
    text-decoration:none;
}

.store-menu {
  margin-top: 30px;
}

.store-menu ul li {
  border-bottom: 1px solid white;
}

.store-menu ul li:last-child {
  border-bottom: none;
}

.store-menu ul li a {
  color: #339933;
  font-size: 14px;
  font-weight: 400;
}

.store-menu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.store-menu ul li a:hover {
  background-color: #fafcfd;
  color: #3366cc;
}

.store-menu ul li.active {
  border-bottom: none;
}

.store-menu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
