/* Code for the styling of this section*/
.p-img img{
    float: bottom;
    background-color:white; /*frame color*/
    padding: 6px; /*frame edge size*/
    /* Give the frame rounded edges*/
    -moz-border-radius: 5px;
    border-radius: 10px;
}
/*code to give each product block some padding and color as well as round edges*/
#temp-div{
    background-color: #2e2f33;
    padding-bottom: 30px;
    -moz-border-radius: 5px;
    border-radius: 20px;
}
/*code which gives a background for the description text of each product*/
.t-box{
    background-color: white;
    padding-left: 6px;
    padding-right: 6px;
    min-height: 120px;
    -moz-border-radius: 5px;
    border-radius: 10px;

}
/*Code for the format of the tabs*/
#ul-tab{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*Code for div held by current tab*/
#mainView{
    border: 0px solid black;
    clear: both;
    padding: 0 1em;
}

/* code for the styling of the cultural/geological product buttons*/
.tab-btn{
    border: 1px solid #00DD00;
    background-color: transparent;
    color: #00DD00;
}

/*changes the color of the current tab*/
.activetab {
    background-color: #00c9dd;
    color: #00DD00;
}






























/*individual product code*/

/*********************************************
        		Theme Elements
*********************************************/

.gold{
	color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

/*********************************************
				ITEM
*********************************************/

.service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
}

.service1-item {
	height: 107px;
	width: 120px;
	display: block;
	float: left;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.service1-item > img {
	max-height: 110px;
	max-width: 110px;
	opacity: 0.6;
	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
	cursor: pointer;
	opacity: 1;
}

.service-image-left {
	padding-right: 50px;
}

.service-image-right {
	padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
	max-height: 155px;

/*code that dictates what happens when you hover over the cultural/geological button tabs*/
.tab-btn:hover{
    background-image:none !important;
    background-color:#0faf38 !important;
    color: white !important;
}

/*css for the background of each product title*/
.label-info{
    background-color:#0faf38;
    -moz-border-radius: 5px;
    border-radius: 10px;

}

/*css for the title of the product*/
.label-info h2{
    color:white;
    font-weight: bold;
    text-align: center;  
}

/* css for the product image*/
.product-img{
    height: 50vh;
    width: 70vh;
    -moz-border-radius: 5px;
    border-radius: 10px;
}

/*css for the thumbnail or container holding all the product block info*/
.product-thumb{
    background-color : #2e2f33;
    border-color:transparent;
    border-radius: 20px;
}

/*css for the "about product" header text*/
.about-label{
    color:white;
    font-weight: bold;
}

/*css for the short description of the product*/
.about-text{
    color:white;
}
