#section-retail{
    background: url(http://www.premiumtours.co.uk/images/product/original/59_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.retailInfo {
    background-color: #996633;
    padding: 1%;
    border-radius: 25px;
    font-size: 125%;
}
.banner-content{
    padding: 300px 0 300px 0;
}
