<section ng-controller="AdminOrderController">
    <div class="page-header text-center">
        <ul class="pagination">
            <li ng-class="{ active: activeState === 0 }" ng-click="setActive(0)">
                <a>Awaiting Confirmation</a>
            </li>
            <li ng-class="{ active: activeState === 1 }" ng-click="setActive(1)">
                <a>Preparing For Shipment</a>
            </li>
            <li ng-class="{ active: activeState === 2 }" ng-click="setActive(2)">
                <a>Order Shipped</a>
            </li>
        </ul>
    </div>

    <div ng-show="isLoading" class="col-md-12 text-center">
        <h3>
            <i class="fa fa-cog fa-spin"></i> Loading...
        </h3>
    </div>

    <div ng-repeat="order in orders">
        <div class="row">
            <div class="col-md-2">
                <h5>{{order.created | date:'medium'}}</h5>
            </div>
            <div class="col-md-5">
                <h5>Description</h5>
                <p>{{order.description}}</p>
                <h5>Total</h5>
                <p>${{order.total}}</p>
                <h5>Status</h5>
                <p>{{order.status}}</p>
            </div>
            <div class="col-md-5">
                <h5>User</h5>
                <p>{{order.user.username}} (ID#{{order.user._id}})</p>
                <h5>Shipping Address</h5>
                <p>{{order.paypal_get_res[0].transactions[0].item_list.shipping_address.recipient_name}}<br>
                    {{order.paypal_get_res[0].transactions[0].item_list.shipping_address.line1}}<br>
                    {{order.paypal_get_res[0].transactions[0].item_list.shipping_address.city}}, {{order.paypal_get_res[0].transactions[0].item_list.shipping_address.state}} {{order.paypal_get_res[0].transactions[0].item_list.shipping_address.postal_code}}<br>
                    {{order.paypal_get_res[0].transactions[0].item_list.shipping_address.country_code}}</p>
            </div>
        </div>
        <hr>
    </div>

    <div ng-show="orders.length === 0 && !isLoading">
        <div class="row text-center">
            <h3>No orders found.</h3>
        </div>
        <hr>
    </div>
</section>
