<section ng-controller="CartController">
    <div class="page-header">
        <h1>Cart</h1>
    </div>
    <div ng-repeat="prodWrap in cart">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                {{prodWrap.product.proTitle}}
            </div>
            <div class="col-md-2 col-xs-6 text-center">
                Quantity: {{prodWrap.quantity}}
            </div>
            <div class="col-md-2 col-xs-6 text-center">
                Price: ${{prodWrap.price}}
            </div>
        </div>
        <div class="row" ng-show="prodWrap.showDesc">
            <div class="col-md-3 col-xs-12">
                <img class="img-responsive" src="{{prodWrap.product.imageUrl}}">
            </div>
            <div class="col-md-9 col-xs-12">
                <p>{{prodWrap.product.longDes}}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-xs-6 text-center">
            <div ng-click="clearCart()" class="btn btn-danger">Clear Cart</div>
            <div ng-click="toggleEditable()" class="btn btn-primary">Edit Cart</div>
        </div>
        <div class="col-md-9 col-xs-6 text-center">
            <div ng-click="checkout()" class="btn btn-primary">Checkout!</div>
            <p class="pull-right">Total: ${{totalPrice.toFixed(2)}}</p>
        </div>
    </div>
</section>
