<!DOCTYPE html>
<section lang="en">
<section ng-controller="CommercialProdController">
  <head>
  <section id="section-banner">
    <div class="container">
      <div class="row">
        <div class="banner-content text-center">
          <h2 class="title">
            <div class="line-top"></div>
            *Insert statement about selling products for retail purposes*
            <div class="line-btm"></div>
          </h2>
        </div>
      </div>
    </div>
  </section>

</head>
<body>
  <div>
    <h2>Teacher's Picks</h2>
    <section id="teacher-section">
      <div class="row">
        <div class="col-sm-3 center">
          <h3>Product 1</h3>
          <div class="col-md-4">
          </div>
        </div>
        <div class="col-sm-3 center">
          <h3>Product 2</h3>
          <div class="col-md-4">
          </div>
        </div>
        <div class="col-sm-3 center">
          <h3>Product 3</h3>
          <div class="col-md-4">
          </div>
        </div>
        <div class="col-sm-3 center">
          <h3>Product 4</h3>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</section>
</html>
