<section ng-controller="CommercialProdController">
  <head>
  <section id="section-banner">
    <div class="container">
      <div class="row">
        <div class="banner-content text-center">
          <h2 class="title">
            <div class="line-top"></div>
            *Insert statement about selling products for retail purposes*
            <div class="line-btm"></div>
          </h2>
        </div>
      </div>
    </div>
  </section>

</head>
<body>
<section ng-controller="ProductsController">
  <div>
    <h2>Teacher's Picks</h2>
    <section id="teacher-section">
      <div class="row">
        <ng-repeat = "product in products">
          <div class = "col-sm-3">
            <img src ="{{product.imageUrl}}" class="img-responsive product-img">
          </div>
      </div>
      <div class="row">
        <ng-repeat = "product in products">
          <div class = "col-sm-3">
            <h3>{{product.wholePrice}}</h3>
          </div>
      </div>
      <div class = "row">
        <ng-repeat = "product in products">
          <div class = "col-sm-3">
            <a class="btn btn-blue btn-lg" href="/subscriptions" role="button">Learn more</a>
          </div>
      </div>
    </section>
  </div>
</section>
</body>
</section>
