<!-- Individual product page -->
<section ng-controller="ProductsController" ng-init="findOne()">
<div class="item-container">
	<div class="container">
		<div class="col-md-12">
			<div class="product col-md-3" ng-switch on="selection">

					<img src="{{product.imageOne}}" alt="" class="img-fill" ng-switch-default></img>
					<img src="{{product.imageTwo}}" alt="" ng-switch-when="imageTwo"></img>
					<img src="{{product.imageThree}}" alt="" ng-switch-when="imageThree"></img>
					<img src="{{product.imageFour}}" alt="" ng-switch-when="imageFour"></img>

			</div>

			<div class="container service1-items col-sm-2 col-md-2 pull-left">
				<center>
					<a id="item-1" class="service1-item" ng-switch on="selection" ng-click="selection = 'imageTwo';">
						<img src="{{product.imageTwo}}" alt="" ng-switch-default></img>
						<img src="{{product.imageOne}}" alt="" class="img-fill" ng-switch-when="imageTwo"></img>
					</a>
					<a id="item-2" class="service1-item" ng-switch on="selection" ng-click="selection = 'imageThree';">
						<img src="{{product.imageThree}}" alt="" ng-switch-default></img>
						<img src="{{product.imageOne}}" alt="" class="img-fill" ng-switch-when="imageThree"></img>
					</a>
					<a id="item-3" class="service1-item" ng-switch on="selection" ng-click="selection = 'imageFour';">
						<img src="{{product.imageFour}}" alt="" ng-switch-default></img>
						<img src="{{product.imageOne}}" alt="" class="img-fill" ng-switch-when="imageFour"></img>
					</a>
				</center>
			</div>

		<div class="col-md-7">
			<div class="product-title" ng-bind="product.proTitle"></div>
			<div class="product-desc" ng-bind="product.shortDes"></div>
			<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
			<hr>
			<div class="product-price">${{product.indvPrice}}</div>
			<div class="product-stock" ng-show="product.proType">Cultural Product</div>
			<div class="product-stock" ng-hide="product.proType">Geological Product</div>
			<hr>
			<div class="btn-group cart">
				<button type="button" class="cart-btn btn btn-success" ng-click="addOnetoCart(product._id)">
					Add to cart
				</button>
			</div>
		</div>
    </div>
	</div>
</div>
<div class="container-fluid">
	<div class="col-md-12 product-info">
		<tabset>
			<tab class="tab-content">
				<tab-heading class="pane-titles">DESCRIPTION</tab-heading>
				<div class="container product-info">
					<span ng-bind="product.longDes"></span>

					<h3>{{product.proTitle}} Features:</h3>

					<li ng-repeat="feature in product.features" ng-bind="feature"></li>

					<li>It supports the latest ATX12V v2.3 standard and is backward compatible with ATX12V 2.2 and ATX12V 2.01 systems</li>
					<li>An ultra-quiet 140mm double ball-bearing fan delivers great airflow at an very low noise level by varying fan speed in response to temperature</li>
					<li>80Plus certified to deliver 80% efficiency or higher at normal load conditions (20% to 100% load)</li>
					<li>0.99 Active Power Factor Correction provides clean and reliable power</li>
					<li>Universal AC input from 90~264V — no more hassle of flipping that tiny red switch to select the voltage input!</li>
					<li>Extra long fully-sleeved cables support full tower chassis</li>
					<li>A three year warranty and lifetime access to Corsair’s legendary technical support and customer service</li>
					<li>Over Current/Voltage/Power Protection, Under Voltage Protection and Short Circuit Protection provide complete component safety</li>
					<li>Dimensions: 150mm(W) x 86mm(H) x 160mm(L)</li>
					<li>MTBF: 100,000 hours</li>
					<li>Safety Approvals: UL, CUL, CE, CB, FCC Class B, TÜV, CCC, C-tick</li>
				</div>
			</tab>
			<tab class="tab-content">
				<tab-heading class="pane-titles">CIRRICULUM</tab-heading>

				<div class="table-responsive table-striped">
				  <table class="table">
				    <tr>
							<th>Situation</th>
							<th>Action</th>
							<th>Result</th>
						</tr>
						<tr>
							<td>Learn about the native lands of your ancestors.</td>
							<td>Feel the soil that they slept on when beds weren't around.</td>
							<td>Become one of the smarter kids in your class with my product.</td>
						</tr>
						<tr>
							<td>Learn about the rivers which flowed rich with gold.</td>
							<td>Touch the piece of gold that made billy bob joe go crazy in 1912.</td>
							<td>Have a better understanding of what the gold rush is by going crazy.</td>
						</tr>
						<tr>
							<td>I am really runnin out of things to say here.</td>
							<td>Just know that you can really get hands on with this here kit.</td>
							<td>It is going to be cray.</td>
						</tr>
				  </table>
				</div>
			</tab>
			<tab>
				<tab-heading class="pane-titles">REVIEWS</tab-heading>
				<leavereview></leavereview>
			</tab>
		</tabset>
	</div>
</div>
</section>
