<section>
  <div class="container">
    <div class="row" style="padding-top: 10px;">
      <div class="col-md-1 col-sm-2 col-xs-3">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div>
      </div>

      <div class="col-md-11 col-sm-11 col-xs-9">
        <div class="panel panel-default">
          <div class="panel-heading">
          <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
          <div class="pull-right"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
          </div>
          <div class="panel-body">
          Panel content
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px;">
      <div class="col-md-1 col-sm-2 col-xs-3">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div>
      </div>

      <div class="col-md-11 col-sm-11 col-xs-9">
        <div class="panel panel-default">
          <div class="panel-heading">
          <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
          <div class="pull-right"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
          </div>
          <div class="panel-body">
          Panel content
          </div>
        </div>
      </div>
    </div>

		<form> <!-- Leave a review with this form -->
      <div class="form-group">
        <label for="comment">Your Comment</label>
        <textarea name="comment" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Send</button>
    </form>

  </div>
</section>
