
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-3 store-menu">
            <ul class="nav">
                <li><a><i class="fa fa-angle-right"></i>Cultural Kits </a></li>
                <li><a><i class="fa fa-angle-right"></i>Geological Kits </a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-rating text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="store-item-image">
                        <a href="#">
                            <img src="http://lorempixel.com/300/200/technics/1/" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product one</strong></a><br>
                        <small><i class="fa fa-shopping-cart text-muted"></i>
                        <a href="#" class="text-muted">Add to cart</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-rating text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="store-item-image">
                        <a href="#">
                            <img src="http://lorempixel.com/300/200/technics/3/" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product two</strong></a><br>
                        <small><i class="fa fa-shopping-cart text-muted"></i>
                        <a href="#" class="text-muted">Add to cart</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-rating text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="img-responsive store-item-image">
                        <a href="#">
                            <img src="http://lorempixel.com/300/200/technics/9/" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product</strong></a><br>
                        <small><i class="fa fa-shopping-cart text-muted"></i>
                        <a href="#" class="text-muted">Add to cart</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-rating text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="img-responsive store-item-image">
                        <a href="#">
                            <img src="http://lorempixel.com/300/200/technics/9/" alt="">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Sunglasses</strong></a><br>
                        <small><i class="fa fa-shopping-cart text-muted"></i>
                        <a href="#" class="text-muted">Add to cart</a></small>
                    </div>
                </div>
            </div>
	    </div>
	</div>
</div>
