
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section ng-controller="ProductsController" ng-init="find()">
  <div class="container">
      <div class="row">
          <div class="col-md-3 store-menu">
              <ul class="nav">
                  <li><a ng-click="displayCultural()" class="btn btn-xs"><i class="fa fa-angle-right pull-left"></i>Country Kits </a></li>
                  <li><a ng-click="displayGeological()" class="btn btn-xs"><i class="fa fa-angle-right pull-left"></i>Geological Kits </a></li>
              </ul>
          </div>

          <div class="col-md-9">
              <div class="col-md-6 col-sm-6" ng-repeat="product in products" ng-show="{{product.proType}} === displayType">
                  <div class="store-item">
                      <div class="store-item-rating text-warning">
                          <rating ng-model="product.rating" readonly="true"></rating>
                      </div>
                      <div class="store-item-image">
                          <a ui-sref="product.view({productId: product._id})">
                              <img src="{{product.imageUrl}}" alt=""  height="100%" width="100%">
                          </a>
                      </div>
                      <div class="store-item-info clearfix">
                          <span class="store-item-price themed-color-dark pull-right" ng-if="authentication.user.priceRoles[0].toString() === 'individual' || !authentication.user.verified">$ {{product.indvPrice}}</span>
                          <span class="store-item-price themed-color-dark pull-right" ng-if="authentication.user.priceRoles[0].toString() === 'education' && !!authentication.user.verified">$ {{product.eduPrice}}</span>
                          <span class="store-item-price themed-color-dark pull-right" ng-if="authentication.user.priceRoles[0].toString() === 'wholesale' && !!authentication.user.verified">$ {{product.wholePrice}}</span>
                          <a ui-sref="product.view({productId: product._id})"><strong>{{product.proTitle}}</strong></a><br>
                          <small><i class="fa fa-shopping-cart text-muted"></i>
                          <a href="#" class="text-muted" ng-click="addOnetoCart(product._id)">Add to cart</a></small><br>
                          <b class="item-description">Description: </b><span class="item-description">{{product.shortDes}}</span>
                      </div>
                  </div>
              </div>
  	    </div>
  	</div>
  </div>
</section>
