
<div>
    <h1 align = "center"><b> My Products </b></h1>
</div>

<section ng-controller="ProductsController" ng-init="find()">
    <!-- Division that will be used to repeat the product blocks -->
    <!-- Product blocks contain {Product Name, Product Thumbnail, Short Description, Price, see more link}-->
    <div class="row" >
        <div class="col-lg-10 " >
            <div class=" col-lg-12 col-lg-offset-1" ng-repeat="product in products" >
                <div class="thumbnail product-thumb" >
                    <div class = "label-info">
                        <h2>{{product.proTitle}}</h2>
                    </div>
                    <img src ="{{product.imageUrl}}" class="img-responsive product-img">
                    <div class="caption">
                        <div class="row text-center">
                            <div class="col-md-12 col-xs-12">
                                <h4 class = "about-label" >About Product</h4>
                            </div>
                        </div>
                        <p class = "about-text" >{{product.shortDes}}</p>
                        <div class="row text-center">
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-product-edit"><span class="glyphicon glyphicon-edit"></span> Edit Product</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-danger btn-product-delete" >
                                    <span class="glyphicon glyphicon-trash">
                                    </span> Delete Product
                                </a>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
