
<div>
    <h1 align = "center"><b> My Products </b></h1>
</div>

<section ng-controller="ProductsController" ng-init="find()">
    <!-- Division that will be used to repeat the product blocks -->
    <div class="row" >
        <div class="col-lg-10 " >
            <div class=" col-lg-4 col-md-4 col-sm-4" ng-repeat="product in products" >
                <div class="thumbnail product-thumb" >
                    <div class = "label-info">
                        <h3>{{product.proTitle}}</h3>
                    </div>
                    <img src ="{{product.imageUrl}}" class="img-responsive product-img" style="width:250px; height:250px;">
                        <br>
                        <div class="row text-center">
                            <div class="col-md-6 col-sm-6">
                                <a class="btn btn-blue btn-sm btn-product-edit"><span class="glyphicon glyphicon-edit">
                                </span> Edit Product</a>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <a class="btn btn-danger btn-sm btn-product-delete" ng-click="delete(product._id)" >
                                    <span class="glyphicon glyphicon-trash">
                                    </span> Delete Product
                                </a>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>
