<!DOCTYPE html>
<html lang="en">
<body>
<!--Pull data from the database as explained in the retail products controller-->
  <section ng-controller="RetailProdController" id="section-retail" style="background-image:url({{retailData.pictureUrl}})">
        <div class="banner-content text-center">
          <h2 class="title">
            {{retailData.quote}}
          </h2>
        </div>
      </div>
  </section>
<!--Again pulling from the same controller but in a different section so the controller is declared again-->
  <div class = "center" >
    <h2>As a retail buyer...</h2>
  </div>
  <div class="retailInfo" ng-controller="RetailProdController">
      <h3>These are the perks you get.</h3> <br>
      <p>{{retailData.description}}</p>
  </div>
</body>
</html>
