<style>
#editproType-cb{
  height: 20px;
  width: 20px;
  padding-left: 1px;
  margin-left: -30px;
  margin-top: 1px;
}

#editteacher-cb{
  height: 20px;
  width: 20px;
  padding-left: 1px;
  margin-left: -30px;
  margin-top: 1px;
}

.editfeature-lt{
  color: black;
}
</style>

<section ng-controller="editProductsController" ng-init="findOne()">

      <H1> Editting [{{product.proTitle}}]  </H1>

      <div class="col-md-12" >
          <form name="updateProductForm" class="form-horizontal" ng-submit="updateProd(product,updateProductForm.$valid)" novalidate>
              <fieldset>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="product.proType" id = "editproType-cb"><b> Product Type (Cultural=Checked / Geological = Unchecked)</b></label>
                </div>
                <br>

                <div class="form-group" show-errors>
                    <label>Product Title</label>
                    <input name="editproTitle" type="text" ng-model="product.proTitle" class="form-control" placeholder="product title" required>
                    <div ng-messages="updateProductForm.editproTitle.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Need a title for this product.</p>
                    </div>
                </div>
                  <div class="form-group" show-errors>
                      <label>Representative Image</label>
                      <input name="editimageUrl" type="text" ng-model="product.imageUrl" class="form-control" placeholder="https://google.com/image.jpg" required>
                      <div ng-messages="updateProductForm.editimageUrl.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Need an image to represent this product.</p>
                      </div>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Main Image</label>
                      <input name="editimageOne" type="text" ng-model="product.imageOne" class="form-control" placeholder="https://google.com/image.jpg" required>
                      <div ng-messages="updateProductForm.editimageOne.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Need a main image of the actual kit.</p>
                      </div>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Top Left Image</label>
                      <input name="editimageTwo" type="text" ng-model="product.imageTwo" class="form-control" placeholder="https://google.com/image.jpg" required>
                      <div ng-messages="updateProductForm.editimageTwo.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Need second image to show contents of kit.</p>
                      </div>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Middle Image</label>
                      <input name="editimageThree" type="text" ng-model="product.imageThree" class="form-control" placeholder="https://google.com/image.jpg" required>
                      <div ng-messages="updateProductForm.editimageThree.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Need third image to show contents of kit.</p>
                      </div>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Bottom Right Image</label>
                      <input name="editimageFour" type="text" ng-model="product.imageFour" class="form-control" placeholder="https://google.com/image.jpg" required>
                      <div ng-messages="updateProductForm.editimageFour.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Need fourth image to show contents of kit.</p>
                      </div>
                  </div>

                  <div class="form-group" show-errors>
                    <label>Short Description</label>
                    <textarea name="editshortDes" ng-maxlength="250" ng-model="product.shortDes" class="form-control" cols="30" rows="5" placeholder="Short Description of what kit will acheive or teach" required></textarea>
                    <div ng-messages="updateProductForm.editshortDes.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Need a short description for this product.</p>
                      <p class="help-block error-text" ng-message="maxlength">Message must not exceed 250 characters</p>
                    </div>
                  </div>

                  <div class="form-group" show-errors>
                    <label>Long Description</label>
                    <textarea name="editlongDes" ng-model="product.longDes" class="form-control" cols="30" rows="5" placeholder="Long Description of what kit will contain in it and other specific details" required></textarea>
                    <div ng-messages="updateProductForm.editlongDes.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Need a long description for this product.</p>
                    </div>
                  </div>

                  <div class="form-group" show-errors>
                      <label>Individual Price (ex. 9.99)</label>
                      <input name="editindvPrice" type="text" ng-model="product.indvPrice" class="form-control" placeholder="Individual Price" required>
                      <div ng-messages="updateProductForm.editindvPrice.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Individual Price is required.</p>
                      </div>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Educational Price (ex. 9.99)</label>
                      <input name="editeduPrice" type="text" ng-model="product.eduPrice" class="form-control" placeholder="Educational Price" required>
                      <div ng-messages="updateProductForm.editeduPrice.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Educational Price is required.</p>
                      </div>
                  </div>
                  <div class="form-group" show-errors>
                      <label>Wholesale Price (ex. 9.99)</label>
                      <input name="editwholePrice" type="text" ng-model="product.wholePrice" class="form-control" placeholder="Wholesale Price" required>
                      <div ng-messages="updateProductForm.editwholePrice.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Wholesale Price is required.</p>
                      </div>
                  </div>

                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="product.teacher" id = "editteacher-cb"><b> This product is a Teacher's Favorite </b></label>
                  </div>
                  <br>

                  <div class="form-group text-left" ng-show="decideToEdit">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="startFeaturesEdit(product)">
                          <span class="glyphicon glyphicon-pencil" > Edit Features </span>
                    </button>
                  </div>

                  <div ng-show="editingFeatures">
                    <label class="form-group">Editting Features</label>
                    <div class="form-group input-group">
                    <input id="add_feature_text" type="text" class="form-control" placeholder="New feature" ng-model="newFt_edit">
                      <span class="input-group-btn">
                        <button id="add_feature_button" class="btn btn-default" type="button" ng-click="addFeature_edit()">
                            Add
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>

                    <ul class="list-group">

                    <li class="list-group-item clearfix editfeature-lt" ng-repeat="obj in editFeatures track by $index">
                      {{obj}}
                      <button class = "btn btn-primary btn-xs pull-right" type = "button" ng-click = "showEdits_edit(obj)">
                            <span class = "glyphicon glyphicon-pencil" aria-hidden = "true"></span>
                        </button>
                      <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="deleteFeature_edit(obj)">
                            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
                      </button>
                    </li>
                  </ul>

                  <div ng-show = "edits">
                    <input type = "text" class = "form-control" placeholder = "Edit item here" ng-model = "editBox_edit">
                    <button class="btn btn-warning btn-xs pull-right" type="button" ng-click="editItem_edit()">
                          <span  aria-hidden="true">Update</span>
                    </button>
                  </div>
                </div> <!--ng-show = editing Features-->
                  <br>
                  <div class="form-group text-center">
                      <div class="col-xs-6"><input type="submit" class="btn btn-primary"></div>
                      <div class="col-xs-6"><div ng-click="cancelEdit()" class="btn btn-warning">Cancel</div></div>
                  </div>
              </fieldset>
          </form>
      </div>

</section>
