<!DOCTYPE html>
<style>
  .col-md-4 {
    width: 25%;
    margin-left: 75px;
  }
  .col-md-2, .col-md-4, .col-md-5{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
  }
</style>
<html lang="en">
<head>

  <section id="section-banner">
    <div class="container">
      <div class="row">
        <div class="banner-content text-center">
          <h2 class="title">
            <div class="pne-top"></div>
            Explore the world, culturally and geographically!
            <div class="line-btm"></div>
          </h2>
          <a href="#learnMore" class="btn btn-blue btn-product">Learn More</a>
        </div>
      </div>
    </div>
  </section>

</head>
<body>
  <div class="row">
    <div class="col-md-5 col-premium">
      <h2>Geological</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam semper viverra eros ac vulputate.
        Morbi porttitor ullamcorper sem in pellentesque.
        Proin et ullamcorper sem, varius dapibus lacus.
        Sed erat quam, volutpat sit amet nibh eget, lobortis fringilla lorem.
      </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 col-premium">
      <h2>Cultural</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam semper viverra eros ac vulputate.
        Morbi porttitor ullamcorper sem in pellentesque.
        Proin et ullamcorper sem, varius dapibus lacus.
        Sed erat quam, volutpat sit amet nibh eget, lobortis fringilla lorem.
      </p>
    </div>
  </div>
  <section id="learnMore"><br><br>
    <div class="container">
      <h1 class="text-center">Subscribe to Terra Tactus <strong> now!</strong></h1><br>
      <div class="row">
        <div class="col-md-4 col-premium">
          <div class="text-center">
            <h2>Monthly</h2>
            <p class="price green">$9.99 <span class="small-down">/month</span></p>
            <p class="green">Try it for 30 days</p>
            <strong>
              <p>Lorem ipsum dolor</p>
              <p>Lorem ipsum dolor</p>
              <p>Lorem ipsum dolor</p>
              <p>Lorem ipsum dolor</p>
            </strong>
            <a href="../authentication/signin.client.view.html" class="btn btn-blue btn-product">
              Purchase one kit now!
            </a><br>
          </div>
        </div>
        <div class="col-md-4 col-premium">
          <div class="text-center">
            <h2>6 Month Subscription</h2>
            <p class="price green">$9.99 <span class="small-down">/month</span></p>
            <p class="green">Try it for half the year</p>
            <strong>
              <p>Lorem ipsum dolor </p>
              <p>Lorem ipsum dolor </p>
              <p>Lorem ipsum dolor </p>
              <p>Lorem ipsum dolor </p>
            </strong>

            <a href="../authentication/signin.client.view.html" class="btn btn-blue btn-product">
              Receive one kit a month!
            </a><br>
          </div>
        </div>
        <div class="col-md-4 col-premium">
          <div class="text-center">
            <h2>Yearly</h2>
            <p class="price green">$9.99 <span class="small-down">/month</span></p>
            <small class="green">RECOMMENDED</small>
            <strong>
              <p>Lorem ipsum dolor </p>
              <p>Lorem ipsum dolor </p>
              <p>Lorem ipsum dolor </p>
              <p>Lorem ipsum dolor </p>
            </strong>

            <a href="../authentication/signin.client.view.html" class="btn btn-blue btn-product">
              Subscribe for a year
            </a><br>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
