<style>
  
 img{
    float: bottom;
    background-color:white; /*frame colour*/
    padding: 6px; /*frame size*/
    
    -moz-border-radius: 5px;
    border-radius: 10px;
}

#temp-div{
    background-color: rgb(2,9,2);
    padding-bottom: 50px;
    -moz-border-radius: 5px;
    border-radius: 20px;
}



</style>


<!-- Make a Division for the Initial Header Stating our products -->
<div>
    <h1 align = "center"><b> Our Products </b></h1>
</div>

<section ng-controller="ProductsController">
    <div ng-repeat="pro in products">
        <!-- Division that will be used to repeat the product blocks -->
        <!-- Product blocks contain {Product Name, Product Thumbnail, Short Description, Price, see more link}-->
        <div class = "row text-center " id = "temp-div" >    
            


            <h3 style="color:white" style = "text-align:center"><b>{{pro.title}}</b></h3>
            <!--This Should Take Care of the Product Name and Thumbnail-->
            <div class = "col-lg-4 text-center">
                <div ><!--style = "padding-left:90px"-->>
                   <div>
                        <img ng-src="{{pro.image}}" height="250" width="250">
                    </div> 
                </div>
            </div>

            <!-- Code containing a brief description and a see more button -->
            <div class = "col-lg-8 text-center">
                 <!-- Breaks used to lay the textare out correctly -->
                
                <div style = "padding-top:20px">
                    <p style ="color:white"><b> About this Product </b></p>

                    <textarea readonly rows = "5" cols = "80" style="resize:none">{{pro.text}}</textarea>
                    
                    <br><br>

                    <!-- Button which will link to specific product page -->
                    <div >
                        <button type="button" class="btn btn-default btn-md" ><b>Learn More</b></button>
                    </div>   

                </div>
            </div>

        </div>

        <br>

    </div>
</section>

<br><br>

<div class="row text-center">
            <div class="col-md-2">
                <a href=""><i class="fa fa-linkedin-square fa-4x"></i></a>
            </div>
            <div class="col-md-2">
                <a href=""><i class="fa fa-facebook-square fa-4x"></i></a>
            </div>
            <div class="col-md-4">
                <p>Terra Tactus<br>1 Address Street<br>Gainesville, Fla. 32603<br>phone: (123)456-7890<br>fax: (123)456-7891</p>
            </div>
            <div class="col-md-2">
                <a href=""><i class="fa fa-twitter-square fa-4x"></i></a>
            </div>
            <div class="col-md-2">
                <a href=""><i class="fa fa-google-plus-square fa-4x"></i></a>
            </div>
</div>
