<style>
  
 img{
    float: bottom;
    background-color: #999999;
    -moz-border-radius: 5px;
    border-radius: 10px;
}

#temp-div{
    background-color: gray;
    padding-bottom: 20px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    text-align: center;
}

#left {
float: left;
margin-right:10px;
}
#right{
float: left;
margin-left: 10px;
}

</style>


<!-- Make a Division for the Initial Header Stating our products -->
<div>
    <h1 align = "center"><b> Our Products </b></h1>
</div>

<!-- Division that will be used to repeat the product blocks -->
<!-- Product blocks contain {Product Name, Product Thumbnail, Short Description, Price, see more link}-->
<div class = "row" id = "temp-div" >    
    



    <!--This Should Take Care of the Product Name and Thumbnail-->
    <div class = "col-xs-3">

        <h3 style="color:white">Exploring The Swamp Kit</h3>

        <div>
            <img src="http://1.bp.blogspot.com/-QuICtWHygN0/UoAlMMR9UNI/AAAAAAABYfc/rfcld52y97M/s1600/Gaineville+Trip+136.JPG" height="250" width="250">
        </div>

    </div>

    

    <!-- Code containing a brief description and a see more button -->
    <div class = "col-xs-9">
        <br><br><br> <!-- Breaks used to lay the textare out correctly -->
        <p> Small Description </p>

        <textarea readonly rows = "5" cols = "80" style="resize:none">Sample Text Mauris non dui sit amet magna volutpat suscipit sed eu mi. Nam molestie, justo id egestas vulputate, leo mauris elementum turpis, eget mollis ipsum nibh et metus. Vestibulum nec ligula non felis laoreet blandit ac id erat. Integer a diam eu sem fringilla hendrerit non eget mi. Praesent mattis ultrices interdum. Phasellus vestibulum metus quis pulvinar dapibus. </textarea>
        
        <br><br>
        <div class = "row" style = "padding-left:18px">
            <div id = "left" >
                <button type="button" class="btn btn-default btn-md" ><b>Learn More</b></button>
            </div>   
           
            <div id = "right">
                <button type="button" class="btn btn-default btn-md" ><b>Learn More</b></button>
            </div>       
       </div>

    </div>

</div>

<br>



<br><br>

<footer>
  <p>Posted by: Hege Refsnes</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
</footer>