<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="../../../../../public/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../../../../../public/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
  <link href="../../../../../public/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../../../../../public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template styles-->
  <link rel="stylesheet" href="css/subscriptions.css">

  <div class="jumbotron-hero">
    <h1>Explore the world culturally and geologically.</h1>
  </div>

</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Sign up for a free trial now!</h1>
      <p>Free trial for 30 days. *Only $9.99/month afterwards.</p>
      <a href="../authentication/signup.client.view.html" role="button">Start Free Trial </a>
      <p class="small"> *Terms and conditions apply.</p>
    </div>
  </div>

    <div class="container">
      <h1 class="text-center">Browse <strong>free</strong> or subscribe to <strong>Terra Tactus</strong>.</h1>
      <div class="row">
        <div class="col-sm-4 col-sm-push-6 col-premium">
            <p>RECOMMENDED</p>
            <h2>Subscription</h2>
            <p><b>$9.99</b>/month</p>
            <small>
              <p>Try it free for 30 days</p>
            </small>
            <ul>
              <li class="checked">Full view of products</li>
              <li class="checked">News Updates</li>
              <li class="checked">Online activities</li>
              <li class="checked">More kits</li>
              <li class="checked">Educational Resources</li>
            </ul>
            <a href="../authentication/signup.client.view.html" class="btn btn-green btn-block">
              Subscribe now
            </a>
          </div>
        <div class="col-sm-4 col-sm-pull-4 col-free">
          <div class="shadow-box">
            <h2>Free</h2>
            <p class="price">$0.00 <span class="small-down">/month</span></p>
            <ul>
              <li class="checked">Full view of products</li>
              <li class="checked">News Updates</li>
              <li>Online activities</li>
              <li>More kits</li>
              <li>Educational Resources</li>
            </ul>
            <a href="/us/download/other/" class="btn btn-halo btn-block js-goto-signup js-button-download">
              Get Free
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container hidden-xs">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-offers">
          <div class="offers">
            <div class="offer">
              <h3 class="offer-title">Terra Tactus for Families</h3>
              <a class="btn btn-link btn-sm" href="family/" data-ga-category="premium" data-ga-action="offers" data-ga-label="family">Learn more</a>
            </div>
            <div class="offer">
              <h3 class="offer-title">Students</h3>
              <a class="btn btn-link btn-sm" href="student/" data-ga-category="premium" data-ga-action="offers" data-ga-label="students">Learn more</a>
            </div>
            <div class="offer">
              <h3 class="offer-title">Children<sup></sup></h3>
              <a class="btn btn-link btn-sm" href="kids/" data-ga-category="premium" data-ga-action="offers" data-ga-label="kids">Learn more</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <footer id="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Posted by: Hege Refsnes</p>
            <p>Contact information: <a href="mailto:someone@example.com">
              someone@example.com</a>.</p>
          </div>
        </div>
      </div>
    </footer>

</body>


</html>
