<section ng-Controller="ReviewSuggestionsController" ng-init="find()">
  <div class="page-header text-center">
      <ul class="pagination">
          <li ng-click="select('cs')">
              <a>General Customer Service</a>
          </li>
          <li ng-click="select('s')">
              <a>Suggestions</a>
          </li>
          <li ng-click="select('ps')">
              <a>Product Support</a>
          </li>
      </ul>
      <div class="" ng-repeat="suggestion in suggestions" ng-switch on="selection">
        <div class="row" ng-switch-when="Suggestions">
          <div class="col-lg-4 col-md-4">
            <h3>First Name: </h3><p>{{suggestion.firstName}}</p>
            <h3>Last Name: </h3><p>{{suggestion.lastName}}</p>
            <h3>Email Address: </h3><p>{{suggestion.emailAddress}}</p>
          </div>
          <div class="col-lg-4 col-md-8">
            <h3>Message: </h3><p>{{suggestion.message}}</p>
          </div>
        </div>
        <hr>
      </div>
  </div>
</section>
