<section ng-Controller="ReviewSuggestionsController" ng-init="find()">
  <div class="page-header text-center">
      <ul class="pagination">
          <li class="btn" ng-click="select('cs')">
              <a>General Customer Service</a>
          </li>
          <li class="btn" ng-click="select('s')">
              <a>Suggestions</a>
          </li>
          <li class="btn" ng-click="select('ps')">
              <a>Product Support</a>
          </li>
      </ul>
      <div class="" ng-switch on="selection">
        <div class="row" ng-repeat="suggestion in genCustomerService" ng-switch-when="General Customer Service">
          <div class="row review-well">
            <div class="col-lg-4 col-md-4 verticalLine-right">
              <h3>First Name: </h3><p>{{suggestion.firstName}}</p>
              <div class="verticalLine-bottom"></div>
              <h3>Last Name: </h3><p>{{suggestion.lastName}}</p>
              <div class="verticalLine-bottom"></div>
              <h3>Email Address: </h3><p>{{suggestion.emailAddress}}</p>
            </div>
            <div class="col-lg-4 col-md-8">
              <h3>Message: </h3><p>{{suggestion.message}}</p>
            </div>
          </div>
          <div class="row btn btn-default pull-right" ng-click="remove(suggestion, $index)">
            Resolved
          </div>
        </div>
        <div class="row" ng-repeat="suggestion in suggestions" ng-switch-when="Suggestions">
          <div class="row review-well">
            <div class="col-lg-4 col-md-4 verticalLine-right">
              <h3>First Name: </h3><p>{{suggestion.firstName}}</p>
              <div class="verticalLine-bottom"></div>
              <h3>Last Name: </h3><p>{{suggestion.lastName}}</p>
              <div class="verticalLine-bottom"></div>
              <h3>Email Address: </h3><p>{{suggestion.emailAddress}}</p>
            </div>
            <div class="col-lg-4 col-md-8">
              <h3>Message: </h3><p>{{suggestion.message}}</p>
            </div>
          </div>
          <div class="row btn btn-default pull-right" ng-click="remove(suggestion, $index)">
            Resolved
          </div>
        </div>
        <div class="row" ng-repeat="suggestion in prodSupport" ng-switch-when="Product Support">
          <div class="row review-well">
            <div class="col-lg-4 col-md-4 verticalLine-right">
              <h3>First Name: </h3><p>{{suggestion.firstName}}</p>
              <div class="verticalLine-bottom"></div>
              <h3>Last Name: </h3><p>{{suggestion.lastName}}</p>
              <div class="verticalLine-bottom"></div>
              <h3>Email Address: </h3><p>{{suggestion.emailAddress}}</p>
            </div>
            <div class="col-lg-4 col-md-8">
              <h3>Message: </h3><p>{{suggestion.message}}</p>
            </div>
          </div>
          <div class="row btn btn-default pull-right" ng-click="remove(suggestion, $index)">
            Resolved
          </div>
        </div>
      </div>
    </div>
</section>
