<section ng-controller="SearchController">
    <div class="page-header">
        <h1><i class="fa fa-search"></i> Search Results</h1>
    </div>

    <div ng-show="!annLoading && annResults.length !== 0">
        <div class="searchAnnResults">
            <ul class="list-inline">
                <li class="searchAnnResultItem" ng-repeat="announcement in annResults">
                    <h4 class="list-group-item-heading" ng-bind="announcement.title"></h4>
                    <p class="list-group-item-text" ng-bind="announcement.content"></p>
                    <!-- <div class="imgdiv">
                        <img ng-if="announcement.picture" class="searchimg" src="{{announcement.picture}}">
                    </div> -->
                    <small class="list-group-item-text">
                      Posted on
                      <span ng-bind="announcement.created | date:'mediumDate'"></span>
                      by
                      <span ng-bind="announcement.username"></span>
                    </small>
                </li>
            </ul>
        </div>
        <hr>
    </div>
    <div ng-show="annLoading" class="text-center">
        <h3><i class="fa fa-cog fa-spin"></i> Searching...</h3>
        <hr>
    </div>

    <div ng-show="!prodLoading && prodResults.length !== 0" ng-repeat="prod in prodResults">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="{{prod.imageUrl}}">
            </div>
            <div class="col-md-9">
                <h4>
                    <a href="/product/{{prod._id}}">{{prod.proTitle}}</a>
                </h4><hr>
                <p>{{prod.longDes}}</p>
                <div class="text-center">
                    <a class="btn btn-blue" href="/product/{{prod._id}}">Learn More</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div ng-show="!prodLoading && prodResults.length === 0" class="text-center">
        <h3>
            <i class="fa fa-exclamation-circle"></i> Oh No! <small>It seems your search didn't turn up any product results</small>
        </h3>
        <p>
            If you would like to suggest a new product, click below!
        </p>
        <div class="text-center">
            <a href="/suggestion" class="btn btn-blue">Send a Suggestion</a>
        </div>
        <hr>
    </div>
    <div ng-show="prodLoading" class="text-center">
        <h3><i class="fa fa-cog fa-spin"></i> Searching...</h3>
        <hr>
    </div>
</section>
