<div class="container" ng-Controller="SuggestionController">
  <h1>Make a Suggestion</h1>
  <hr>
    <form class="span8" role="form" ng-submit="create()">
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
	                <label>First Name</label>
	                <input class="form-control" ng-model="firstName" placeholder="Your First Name" type="text">
            	</div>

            	<div class="form-group">
	                <label>Last Name</label>
	                <input class="form-control" ng-model="lastName" placeholder="Your Last Name" type="text">
            	</div>

				<div class="form-group">
	                <label>Email Address</label>
	                <input class="form-control" ng-model="emailAddress" placeholder="Your email address" type="text">
            	</div>

            	<div class="form-group">
	                <label>Subject</label>
	                <select class="form-control" id="subject" ng-model="subject" name="subject">
                    <option value="service">
                        General Customer Service
                    </option>

                    <option value="suggestions">
                        Suggestions
                    </option>

                    <option value="product">
                        Product Support
                    </option>
	                </select>
	            </div>



            </div>

            <div class="col-md-8 form-group">
                <label>Message</label>
   				<textarea class="form-control" ng-model="message" rows="12"></textarea>

   				<button class="btn btn-primary pull-right voffset3" type="submit">Send</button>
           	</div>


        </div>
    </form>
    <hr>
</div>
