<!-- Authentication Controller allows main functionalities of connecting returning users to database -->
<section ng-controller="AuthenticationController">

<!-- Backgroung image. CSS is affected in users.css found in the users folder-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
  <fieldset>

      <div class="login-body vcenter">
        <div class = "marg-auto">

          <!-- Logo for Terra Tactus -->
          <div class="login-logo">
            <img class="img-responsive" src="modules/core/client/img/brand/logo.png"/>
          </div>

          <div class="login-block">

            <h1>Login</h1>

            <div class="form-group" show-errors>
              <input type="text" id="username" name="username" placeholder="Username" class="form-control ng-dirty ng-valid-parse ng-touched ng-invalid ng-invalid-required" ng-model="credentials.username" lowercase required/>
              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>

              <input type="password" id="password" name="password" placeholder="Password" class="form-control" ng-model="credentials.password" required/>
              <div ng-messages="userForm.password.$error" role="alert">
               <p class="help-block error-text" ng-message="required">Password is required.</p>
              </div>


              <!-- Sign in & Sign Up buttons, uses means authentication package-->
              <div class="row form-group">
                  <button type="submit" class="col-md-6">Sign In</button>
                  <button a ui-sref="signup" class="col-md-6">Sign Up</button>


                <div class="col-md-12 text-center forgot-password">
                  <a ui-sref="password.forgot">Forgot your password?</a>
                </div>

                <alert type="danger" ng-show="error" class="text-center text-danger">
                  <span ng-bind="error"></span>
                </alert>

              </div>
            </div>
          </div>
        </div>
      </div>


  </fieldset>

</form>

</section>
