/* The following is used to override the default
 * coloring of the navbar, requires .navbar-default
 * to be set rather than .navbar-inverse
 */

/*trick necessary to colorize navbar*/
.navbar {
    background-image: none;
}

/* navbar */
.navbar-default {
    background-color: black;
    border-color: #00c9dd;
    border-bottom: 2px solid #00c9dd;
}
/* title */
.navbar-default .navbar-brand {
    color: #00DD00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #1ade4c;
    background-color: #343335;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #00DD00;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #1ade4c;
    background-color: #00c9dd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #1ade4c;
    background-color: #00c9dd;
    background-image: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #1ade4c;
    background-color: #00c9dd;
    background-image: none;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #00DD00;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #00c9dd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #00DD00;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.no-pad > li > a {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.navbar-socialmedia-oneline {
    width: 25vw;
    float: left;
}

/* secondary navbar coloring */
/* link */
.secondary-nav .navbar-nav > li > a {
    color: white;
}
.secondary-nav .navbar-nav > li > a:hover,
.secondary-nav .navbar-nav > li > a:focus {
    color: white;
    font-weight: bold;
    background-color: #00c9dd;
}
.secondary-nav .navbar-nav > .active > a,
.secondary-nav .navbar-nav > .active > a:hover,
.secondary-nav .navbar-nav > .active > a:focus {
    color: white;
    font-weight: bold;
    background-color: #00c9dd;
    background-image: none;
}
.secondary-nav .navbar-nav > .open > a,
.secondary-nav .navbar-nav > .open > a:hover,
.secondary-nav .navbar-nav > .open > a:focus {
    color: white;
    background-color: #00c9dd;
    background-image: none;
}

.secondary-nav .form-control {
    background-color: black;
    border-color: #1ade4c;
    color: white;
}

.secondary-nav .btn {
    background-color: #1ade4c;
}
