/*Testimonial Client View*/
.dark {
    background-color: #222222;
    border-radius: 20px;
    padding: 2%;
    margin: 15px;
    width: 800px;
}
.italic {
    font-style: italic;
}
.testimonial-from {
    padding-left: 42px;
}

/*Edit Testimonial View*/
.newAnnouncement {
    border-bottom: double;
}
table {
    table-layout: fixed;
}
td {
    width: 20%;
    word-wrap: break-word;
}
.editing {
    background-color: #222222;
    border-color: #222222;
}
